    <div>
        {{#each messages}}
            <p>User: <em>{{this.username}}</em> / Fecha: <b>{{this.date}}</b></p>
            <p>Mensaje: {{this.msn}}</p>
            <hr>
        {{/each}}
    </div>
