<h2 id="username" style="color:green"></h2>
    <hr>
    <form>
        <label for="name">Producto:</label>
        <input id="name" name="name">
        <label for="price">Precio:</label>
        <input id="price" name="price">

        <button id="loadProd">Cargar producto</button>
    </form>
    <h3>Productos cargados:</h3>
    <div id="products">
    </div>
    <hr>
    <h3>Chat:</h3>
    <div>
        <form>
            <label for="msn">Mensaje:</label>
            <input id="msn" name="msn">
            <button id="sendComm">Enviar</button>
        </form>
    </div>
    <div id="chat">
    </div>
